RewriteEngine On

RewriteRule ^([0-9]+)/([0-9]+)/students-report\.php$ students-report.php?courseid=$1&slotid=$2 [NC,L,QSA]
RewriteRule ^([0-9]+)/scheduled-courses-report\.php$ scheduled-courses-report.php?courseid=$1 [NC,L,QSA]
